.father {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template-columns: 1fr minmax(250px, 1fr) 1fr;
}

.child {
  background-color: tomato;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
